.grid-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 5fr 0.5fr 1fr;
    // background-color: #2196F3;
    padding: 10px;
    min-height: 90vh;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // background-color: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

._center {
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    margin-top: 10vh;
    margin-left: 30%;
}

._center_img {
    margin-top: 10vh;
    margin-left: -5vw;
    width: 30vw;
}